@import "../../constants/colors.scss";

.testimonial {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 8px 0;
    text-align: center;
  }

  .customers {
    display: flex;
    margin-top: 40px;
    align-items: center;
    flex-wrap: wrap;

    .image-container {
      margin: 20px auto;
      padding: 0 30px;

      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin: 0 auto;
      }

      &:nth-of-type(2) {
        img {
          width: 140px;
          height: 140px;
        }
      }
    }
  }
  .name {
    font-size: 20px;
    color: $black;
    font-family: "PlayfairBold";
    margin-top: 35px;
  }

  .review {
    color: $grey;
    font-size: 12px;
    font-family: "PoppinsRegular";
    width: 40%;
    text-align: center;

    @media (max-width: 500px) {
      width: 70%;
    }
  }
}
