@import "./constants/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "PlayfairBold";
  src: url(./assets/fonts/PlayfairDisplay-Bold.ttf);
}

@font-face {
  font-family: "PlayfairRegular";
  src: url(./assets/fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: "PlayfairMedium";
  src: url(./assets/fonts/PlayfairDisplay-Medium.ttf);
}

@font-face {
  font-family: "PlayfairMedium";
  src: url(./assets/fonts/PlayfairDisplay-Medium.ttf);
}

@font-face {
  font-family: "PoppinsBold";
  src: url(./assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "PoppinsRegular";
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

.App {
  padding: 0 100px;
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.small-label {
  font-size: 16px;
  color: $orange;
  font-family: "PoppinsRegular";
}

.large-label {
  font-size: 24px;
  color: $black;
  font-family: "PlayfairBold";
}

.description-label {
  color: $grey;
  font-size: 14px;
  font-family: "PoppinsRegular";
}

.main-btn {
  min-width: 170px;
  height: 50px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: $orange;
  color: white;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
  font-family: "PlayfairBold";
  font-size: 16px;
  transition: 0.6s ease all;

  &:hover {
    background-color: #d04303;

    .icon {
      background-color: $orange;
    }
  }

  .icon {
    width: 32px;
    height: 32px;
    display: grid;
    place-items: center;
    background-color: $lightorange;
    border-radius: 8px;
    transition: 0.6s ease all;
  }
}
